body{
    scroll-behavior: smooth;
}
.container-fluid{
    width: 100%;
}
.bckimg{
    background-image: url('https://github.com/MungaiKeren/Akan-Names/blob/master/BeFunky-photo%20(1).jpg?raw=true'); 
    background-size: cover;
    background-repeat: no-repeat;  
    height: 700px;
}
.overlay{
    background-color: rgb(0,0,0,0.5);
    margin-left: 18%;
    margin-right: 16%;
    opacity: 0.9;
    border-radius: 10px;
    top: 50%;
}
p#p{
    text-align: left !important;
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 28px;
}
#funfact{
    font-family: 'Sawarabi Mincho', sans-serif;
    text-align: justify !important;
}
p#welcome{
    text-align: center !important;
    font-family: 'Krub', sans-serif;
}
h1,h2,h3,p,span,label{
    text-align: center;
    top: 50%;
    color: white;
}
h2#h2{
    text-align: center;
    top: 50%;
    color: white;
    font-size: 40px;
    font-family: 'Allerta Stencil', sans-serif;
}
label{
    font-size: 24px;
}
p#ml{
    color: white;
    margin-left: 100px !important;
}
p{
    font-size: 24px;
}
button{
    margin-left: 500px;
}
 /* .bckimg-contents{
     top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}  */
form{
    margin-left: 100px;
}
input{
    border-radius: 2%;
    width: 80%;
}